.content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
    color: white;
}

header {
    background-color: #5475BA;
}

#logo_link {
    padding-top: 5px 0 10px 0;
}

body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#background {
    height: 725px;
}

nav a {
    background-color: #5475BA;
    color: white;
    padding-top: 5px;

}

nav a:hover {
    background-color: #5475BA;
    color: white;
}

.home-title {
    color: #5475BA;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
}

h4 {
    color: #5475BA;
}

.book, .join {
    font-size: 18px;
    background-color: #5475BA;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}

.book:hover, .join:hover {
    background-color: white;
    color: #5475BA;
}

.msg {
    background-color: #5475BA;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    background-color: #5475BA;
    color: white;
}

.msg p {
    font-size: .8em;
    background-color: #5475BA;
    color: white;
    padding-bottom: 15px;
}

footer {
    background-color: #5475BA;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

footer a:hover {
    background-color: #01a80fce;
    color: white;
}

.logo {
    width: 80px;
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}    

footer p a:hover {
    text-decoration: underline;
}    
    
#background {
    background-color: #5475BA;
}

.social {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}


